<!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Collection</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    </head>
    <body>
        <div class="container" id="app">
            <section class="section">
                <div class="columns is-multiline">
                    <div v-for="elem in favoris" class="column is-one-fifth">
                        <div class="card">
                            <div class="card-image">
                            <figure class="image is-4by3">
                                <img :src="png_get(elem.id)" alt="Placeholder image">
                            </figure>
                            </div>
                            <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                <p class="title is-4">{{ elem.username }}</p>
                                <p class="subtitle is-6">{{ elem.name }}</p>
                                </div>
                            </div>
                            <div class="content">
                                <p>Extracted : </p>
                                <ul>
                                    <li v-for="key in Object.entries(elem.extracted.created)"> {{ key }}</li>
                                </ul>
                            </div>
                            <footer class="card-footer">
                                <button type="submit" v-on:click="upvote(elem.id)" class="button card-footer-item">Upvote</button>
                            </footer>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>    
    </body>

    <script>
        var gen = new Vue({
            el: '#app',

            data: {
                hall_of_fame: [],
                selectedJson: {}
            },

            created: function(){
                this.hof();
            },

            methods: {

                hof(){
                    axios.get('http://localhost:5000/wall')
                    .then((response) => {
                        this.hall_of_fame = response.data.wall
                    }).catch((error) => {
                        console.error(error);
                    })
                },

                upvote(id) {
                    axios.get('http://localhost:5000/upvote'.concat('/', id))
                    .then((resjson) => {
                        this.hof();
                    }).catch((error) => {
                        console.error(error);
                    })
                },

                png_get: function(prop){
                    return 'http://localhost:5000/images'.concat('/', prop)
                }
            },

            computed: {

                favoris: function (){
                    return this.hall_of_fame;
                },
            }
        });
    </script>

</html>